.fix-login {
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: none;
}
.login-con {
    position: fixed;
    width: 450px;
    border-radius: 5px;
    background: #F8FAFC;
    top: 10%;
    left: calc(50% - 225px);
}
.success {
    position: fixed;
    width: 450px;
    background: #fff;
    border-radius: 5px;
    top: 10%;
    text-align: right;
    left: calc(50% - 225px);
}
.login-head {
    width: 100%;
    text-align: center;
    display: inline-block;
}
.login-head img {
    margin-top: -30px;
}
.login-head ul span {
    width: 50%;
    display: inline-block;
    float: left;
    font-size: 24px;
    color: #7F8FA4;
    padding-bottom: 30px;
    border-bottom: 1px solid #E7EBEE;
    cursor: pointer;
}
.login-head ul span.active {
    color: #354052;
    border-bottom: 2px solid #313D4F;
}
.login-panel {
    background: #fff;
    width: 100%;
    text-align: left;
    padding:0 30px;
    box-sizing: border-box;
    padding-bottom: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}
.login-panel.active {
    display: inline-block;
}
.login-panel p {
    padding-top: 15px;
    color: #7F8FA4;
}
.login-panel input {
    width: 100%;
    margin-top: 5px;
    border-radius: 2px;
    border: 1px solid #DFE3E9;
    background: #F8FAFC;
    height: 46px;
    padding-left: 15px;
    box-sizing: border-box;
}
.login-panel .error {
    font-size: 12px;
    color: #F04134;
    margin-top: 5px;
    display: none;
}
.login-panel .btn {
    background: url("../images/btn.png") no-repeat center;
    border:none;
    cursor: pointer;
    margin-top: 10px;
    color: rgba(0,0,0,0);
}
.login-panel .btn2 {
    background: url("../images/btn2.png") no-repeat center;
}
.yanzheng {
    width: 100%;
    position: relative;
    display:inline-block;
}
.yanzheng input {
    width: 240px;
    float: left;
}
.yanzheng span {
    background: url("../images/Base.png") no-repeat center;
    width: 140px;
    margin-top: 5px;
    border-radius: 2px;
    border: 1px solid #DFE3E9;
    height: 46px;
    float: right;
    text-align: center;
    line-height: 46px;
    color: #7F8FA4;
    cursor: pointer;
    display: none;
}
.fix-login .fixed-font {
    position: absolute;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}
#J_getCode {
    display: inline-block;
}

/*注册*/
.sign {
    padding: 30px 0;
    text-align: center;
    font-size: 24px;
}
.checkbox {
    line-height: 1.9;
    margin-top: 10px;
    font-size: 12px;
}
.checkbox a {
    color: #656565;
}
.checkbox input {
    float: left;
    width: 15px;
    height: 15px;
}
.su-1 {
    margin-top: 35px;
    margin-bottom: 25px;
    margin-right: 30px;
}
.su-3 {
    margin-top: 87px;
    margin-bottom: 135px;
    float: left;
    margin-left: 180px;
}

