@charset "UTF-8";
body{font-size: 14px;font-family:"PingFang SC","Microsoft Yahei", "微软雅黑", sans-serif;}
a{color:#333; text-decoration:none; cursor:pointer; outline: 0 none;}
a:hover{ text-decoration:none;}
a:focus{-moz-outline-style:none; border:0px;blr:expression(this.onFocus=this.blur());}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,p,blockquote,th,td{margin:0; padding:0;}
header,footer,article,aside,section,nav,menu,hgroup,details,dialog,figure,figcaption{display:block}
ol,li,ul,dl,dt,dd{list-style:none;}
fieldset,img {border:0}
button,submit,input,select { vertical-align:middle;}
button,submit { cursor:pointer;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:lighter;}
body,ul,li,ol,dd,dt,dt,a {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-size: 14px;
	color: #1B2431;
}
/*头部*/
.head {
	width: 100%;
	height: auto;
	display: flex;
	min-width: 1200px;
}
.index-logo {
	padding: 22px 0px 18px 27px;
	background-color: #1c96f1;
	width: 191px;
}
.index-logo img {
	width: 158px;
	height: 40px;
}
.index-topic {
	width: calc(100% - 218px);
	height: auto;
	padding: 17px 0 10px 0;
	background-color: #209fff;
	color: white;
}
.topic-left {
	float: left;
	padding-top: 10px;
}
.topic-left ul li {
	display: inline-block;
    margin-left: 45px;
    font-size: 18px;
    color: white;
	padding-bottom: 10px;
}
.bottom-line {
    border-bottom: 2px solid white;
}
.topic-right {
	float: right;
    margin-right: 25px;
    line-height: 55px;
}
.f20 {
	font-size: 20px !important;
}
.f16 {
	font-size: 16px !important;
}
.f13 {
	font-size: 13px !important;
}
.f14 {
	font-size: 14px !important;
}
.cur-poin {
	cursor: pointer;
}
.user-icon {
	border-radius: 50%;
    border: 2px solid white;
	margin: 0 10px;
}
.user-info {
	display: flex;
    float: left;
	margin-right: 24px;
}
.marginr24 {
	margin-right: 24px;
}
.marginr19 {
	margin-right: 19px;
}
.marginr22 {
	margin-right: 22px;
}
.marginr20 {
	margin-right: 20px;
}
.lineh55 {
	line-height: 55px !important;
}
.marginl19 {
	margin-left: 19px;
}
.marginr36 {
	margin-right: 36px;
}
/*左侧菜单栏*/
.menu {
	background-image:linear-gradient(-1deg, #404867 2%, #24283e 99%);
	height: 100vh;
	padding-top: 33px;
}
.firstary-font {
	color: #fff;
	margin-bottom: 17px;
	font-size: 16px;
}
.arrow {
	background: url(../images/arrow2.png)no-repeat center;
    width: 6px;
    height: 22px;
    background-size: 100%;
    display: block;
    float: right;
    line-height: 22px;
}
.secondary-menu {
	background-color: #303d56;
    width: 100%;
	padding: 9px 0 17px 0;
}
.secondary-font {
	font-size: 14px;
    color: white;
	height: 36px;
	line-height: 36px;
}
.active-secondary {
	background:#5e6c87;
}
.marginl70 {
	margin-left: 70px;
}
.marginl66 {
	margin-left: 66px;
}
.secondary-left {
	display: block;
    width: 4px;
    height: 100%;
    float: left;
    background-color: #209fff;
}
/*主要内容区*/
.contents-warrp {
	width: 100%;
    height: 100vh;
    background-color: #EFEFEF;
    /*padding: 7px 0 0 22px;*/
}
.contents-cont {
	padding: 7px 0 0 22px;
}
.router {
	font-size: 12px;
}
.router span {
	color: rgba(128, 128, 128, 0.5);
}
.router span:last-child {
	color: #209fff;
}
.white-warrp {
    /* width: 1110px; */
    background: #ffffff;
    border: 1px solid #e6eaee;
    border-radius: 4px;
    margin-right: 20px;
}
/*企业查询*/
.white-padding {
	padding: 18px 31px;
    margin-top: 9px;
}
.company-input {
	border-radius: 4px;
	width: 184px;
	height: 36px;
	outline: none;
	border: 1px solid #dfe3e9;
	padding-left: 14px;
	margin-left: 10px;
}
.ompany-input::-webkit-input-placeholder {
	font-size:14px;
	color:#9fa9ba;
}
.ompany-input:-moz-placeholder {
	font-size:14px;
	color:#9fa9ba;
}
.ompany-input::-moz-placeholder {
	font-size:14px;
	color:#9fa9ba;
}
.ompany-input:-ms-input-placeholder {
	font-size:14px;
	color:#9fa9ba;
}
.box {
	display: flex;
	margin-bottom: 17px;
}
.flex1 {
	flex: 1;
}
.box .flex1:nth-child(2) {
	text-align: center;
}
.box .flex1:nth-child(3) {
	text-align: right;
}
.inquiry {
	border-top: 1px solid #dfe3e9;
	text-align: right;
}
.inquiry-btn {
	background-image:linear-gradient(-180deg, #ffffff 3%, #e1e1e1 98%);
	border:1px solid #ced0da;
	border-radius:4px;
	width:89px;
	height:34px;
	outline: none;
	margin-top: 7px;
}
.row-box {
	display: flex;
     flex-flow: row wrap;
    /* align-content: flex-start; */
    width: 100%;
}
.child-box {
	/*flex: 0 0 25%;*/
	margin-bottom: 20px;
	margin-right: 25px;
}
.desktop-img {
	width: 252px;
    height: 176px;
}
.height-vh {
	/*height: 80vh;*/
}
/*头部消息提醒*/
.news-warrp {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.64);
	z-index: 2;
}
.news-cont {
	width: 778px;
	margin: 0 auto;
	/*border-radius: 4px;*/
	margin-top: 20vh;
}
.news-topic {
	padding: 17px 30px;
	background-color: #209fff;
	color: white;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
}
.news-topic span {
	font-size: 18px;
}
.floatr {
	float: right;
}
.redf {
	color: #D22424;
}
.news-main {
	background-color: white;
	padding: 12px 51px 35px 30px;
}
.bluef {
	color: #209fff;
	/*text-align:right;*/
}
.textr {
	text-align:right;
}
.news-item {
	margin-top: 14px;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #e6eaee;
}
.news-item-topic {
	display: flex;
}
.blue-sign {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #209fff;
	margin-top: 5px;
	margin-right: 8px;
}
.news-item-topic span {
	color: #8a8a8a;
}
.news-item-cont {
	width: 680px;
	margin-left: 18px;
}
.news-item-cont span {
	font-size: 16px;
	color:#354052;
}
.news-btn-group {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}
.news-btn {
	width: 100px;
	height: 36px;
	border-radius: 4px;
	/*border:1px solid #249533;*/
	text-align: center;
	line-height: 36px;
	cursor: pointer;
}
.ready-btn {
	background-image:linear-gradient(-180deg, #39b54a 0%, #34aa44 98%);
	border:1px solid #249533;
	color:#ffffff;
	margin-right: 10px;
}
.detail-btn {
	background-image:linear-gradient(-180deg, #f3f3f6 3%, #f2f4f7 93%);
	border:1px solid #d3d5de;
	color:#7383a1;
}
/*首页布局修改*/
.left-nav {
	width: 218px;
	height: calc(100vh - 86px);
}
.right-cont {
	width: calc(100vw - 218px);
	height: calc(100vh - 86px);
}
.displayflex {
	display: flex;
}
/*添加用户页面*/
.adduser-topic {
	padding: 30px 0;
    text-align: center;
    border-bottom: 1px solid #dfe3e9;
    position: relative;
}
.f24 {
	font-size: 24px;
}
.rightposition {
	position: absolute;
    left: 0;
}
.reply-attr {
	margin-right: 9px;
	font-size: 12px !important;
}
.adduser-cont {
	padding: 13px 40px 30px 25px;
	border-bottom: 1px solid #dfe3e9;
}
.rectangle {
	display: block;
	width: 14px;
	height: 14px;
	background:#209fff;
	border-radius:4px;
    margin: 4px 10px 0 0;
}
.marginb16 {
	margin-bottom: 16px;
}
.adduser-form {
	padding-left: 20px;
	margin-bottom: 20px;
}
.space-between {
	justify-content: space-between;
}
.width-reset {
	width: 260px;
}
.adduser-cont .adduser-form:last-child {
	margin-bottom: 0;
}
.outlinenone {
	outline: none;
}
/*客户列表*/
.clientlist-topic {
	margin-top: 9px;
	/*width: 1172px;*/
}
.f18 {
	font-size: 18px;
}
.addclient-btn {
	width: 100px;
	height: 36px;
	background-image:linear-gradient(-180deg, #2da1f8 6%, #1991eb 93%);
	border-radius:4px;
	color: #fff;
	line-height: 36px;
    text-align: center;
}
.lineh36 {
	line-height: 36px;
}
.marginr5 {
	margin-right: 5px;
}
.table-warrp {
	width: 100%;
}
.table {
	width: 100%;
    border: 1px solid #dfe3e9;
	border-collapse: collapse;
}
.table-head {
	font-size: 14px;
	color: #1a91eb;
	background: #e8f4fd;
}
.table-head tr {
	height: 39px;
	text-align: left;
}
.table-body tr {
	height: 52px;
}
.table-head tr th {
	border-left: 1px solid #fff;
	padding-left: 9px;
}
.table-body tr td {
	border: 1px solid #e6eaee;
	padding-left: 9px;
}
.unleft-border {
	border-left: none !important;
}
.padding-client {
	padding: 24px 32px 22px 30px;
}
.lease-heights {
	height: auto;
	padding-bottom: 43px;
}
/*提示消息弹层*/
.prompt-cont {
	width: 480px;
	margin: 0 auto;
	margin-top: 20vh;
}
.prompt-main {
	padding: 67px 0 101px 0;
	text-align: center;
	background-color: #fff;
}
.prompt-main-img {
	width: 18px;
	height: 18px;
	margin-right: 10px;
}
.prompt-main span {
	font-size: 16px;
}
.prompt-foot {
	background-color: #f0f3f8;
	padding: 17px 50px 17px 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	display: flex;
	justify-content: flex-end;
}
.prompt-foot .news-btn {
	width: 70px;
}
/*种类管理页*/
.no-padding {
	padding: 0;
}
.species-topic {
	padding: 24px 0px 18px 55px;
	border-bottom: 1px solid #e6eaee;
	position: relative;
}
.species-topic span {
	font-size: 16px;
}
.species-topic span:nth-child(2) {
	margin: 0 45px;
	color: #dbdbdb;
	/*font-size: 12px;*/
	font-weight: 100;
}
.species-cont {
	padding: 16px 47px 0 47px;
}
.blue-line {
	position: absolute;
    height: 2px;
    width: 194px;
    background-color: #209fff;
    bottom: 0;
    left: 212px;
}
.lineh38 {
	line-height: 38px;
}
.marginl10 {
	margin-left: 10px;
}
.color-grey {
	color:#9fa9ba;
}
.marginb40 {
	margin-bottom: 40px;
}
.table-body tr td:last-child {
	border-right: none !important;
}
.table-body tr td:first-child {
	border-left: none !important;
}
.table-head tr td:last-child {
	border-right: none !important;
}
.table-head tr td:last-child {
	border-left: none !important;
}
.table-head tr th:first-child {
	border-left: none;
}
.marginb31 {
	margin-bottom: 31px;
}
.species-heights {
	height: auto;
	padding-bottom: 19px;
}
.species-foot {
	border-top: 1px solid #e9ecf0;
	padding: 0 48px 21px 0;
}
/*.untop-border {
	border-top: none !important;
}*/
.displaynone {
	display: none;
}
.displayblock {
	display: block;
}
/*头部未读*/
.un-info-warrp {
	position: relative;
}
.un-infomation {
	position: absolute;
    display: block;
    background: #ff4137;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    font-size: 10px;
    top: 7px;
    right: -5px;
    line-height: 16px;
    text-align: center;
}
/*分页*/
.pages-warrp {
	margin-top: 20px;
	/*width: 1172px;*/
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
}
.pages-w {
	border-radius:4px;
	width:28px;
	height:28px;
	line-height: 28px;
	color:#666666;
	opacity:0.8;
	text-align: center;
}
.page-data {
	background:#ffffff;
	border:1px solid #d9d9d9;
	border-radius:4px;
	width:124px;
	height:32px;
	text-align: center;
	line-height: 32px;
	color:#666666;
	margin: 0 25px 0 25px;
}
.jump-page {
	color:#666666;
	line-height: 32px;
}
.jump-page input {
	background:#ffffff;
	border:1px solid #d9d9d9;
	border-radius:4px;
	width:72px;
	height:32px;
	text-align: center;
	margin: 0 12px;
}
.pages-active {
	background:#1a91eb;
	color:#ffffff;
}
