<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>涌时</title>
	<!-- <link rel="stylesheet" href="../css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="../css/public.css">
	<link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
</head>
<body>
	<div class="head">
		<div class="index-logo">
			<img src="../images/index-logo.png" alt="涌时融租">
		</div>
		<div class="index-topic">
			<div class="topic-left nav-center">
				<ul>
					<li class="bottom-line cur-poin" data-src="desktopMenu.html">桌面管理</li>
					<li class="cur-poin" data-src="yewuMenu.html">业务管理</li>
					<li class="cur-poin">待办任务</li>
					<li class="cur-poin">数据统计</li>
					<li class="cur-poin">系统设置</li>
				</ul>
			</div>
			<div class="topic-right">
				<div class="user-info">
					<div class="un-info-warrp">
						<i class="fa fa-bell-o f20 lineh55 cur-poin"></i>
						<span class="un-infomation">1</span>
					</div>

					<img class="user-icon cur-poin" src="../images/user-icon.png" alt="用户头像">
					<span class="cur-poin">管理员</span>
				</div>


				<i class="fa fa-refresh f16"></i>
				<span class="marginr24 cur-poin">修改密码</span>

				<i class="fa fa-sign-out f16"></i>
				<span class="cur-poin">退出</span>

			</div>
		</div>
	</div>
	<div class="displayflex">
		<iframe frameborder="0" scrolling="no" border="0" class="left-nav" id="nav-left" src="desktopMenu.html"></iframe>
		<iframe frameborder="0" scrolling="off" border="0" class="right-cont" id="right-cont" src="desktop.html"></iframe>
	</div>
	<!-- <iframe frameborder="0" scrolling="no" border="0" class="left-nav" src="yewuMenu.html"></iframe>
	<iframe frameborder="0" scrolling="no" border="0" class="right-cont" src="desktop.html"></iframe> -->
	<!--头部消息提醒-->
	<div class="news-warrp" style="display:none;">
		<div class="news-cont">
			<div class="news-topic">
				<span>代办任务提醒：<span class="f14">您共有<b class="redf">11</b>条信息未处理</span></span>
				<i class="fa  fa-close floatr"></i>
			</div>
			<div class="news-main">
				<p class="bluef textr">查看历史纪录</p>
				<div class="news-item">
					<div class="news-item-topic">
						<span class="blue-sign"></span>
						<span class="flex1">运营专员：张大大</span>
						<span>2017-07-22</span>
					</div>
					<div class="news-item-cont">
						<span>您有新的工作任务需要处理：在2017.06.23  11:23向您提交了新项目审核申请，项目订单号为：12345678，请及时处理</span>
					</div>
				</div>
				<div class="news-item">
					<div class="news-item-topic">
						<span class="blue-sign"></span>
						<span class="flex1">运营专员：张大大</span>
						<span>2017-07-22</span>
					</div>
					<div class="news-item-cont">
						<span>您有新的工作任务需要处理：在2017.06.23  11:23向您提交了新项目审核申请，项目订单号为：12345678，请及时处理</span>
					</div>
				</div>
				<div class="news-item">
					<div class="news-item-topic">
						<span class="blue-sign"></span>
						<span class="flex1">运营专员：张大大</span>
						<span>2017-07-22</span>
					</div>
					<div class="news-item-cont">
						<span>您有新的工作任务需要处理：在2017.06.23  11:23向您提交了新项目审核申请，项目订单号为：12345678，请及时处理</span>
					</div>
				</div>
				<div class="news-btn-group">
					<div class="news-btn ready-btn">
						全部已读
					</div>
					<div class="news-btn detail-btn">
						全部详情
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="news-warrp" style="display:none;">
		<div class="prompt-cont">
			<div class="news-topic">
				<span>提示</span>
				<i class="fa  fa-close floatr"></i>
			</div>
			<div class="prompt-main">
				<img class="prompt-main-img" src="../images/waring.png" alt="">
				<span>确定进行客户停用操作么？</span>
			</div>
			<div class="prompt-foot">
				<div class="news-btn ready-btn">
					确定
				</div>
				<div class="news-btn detail-btn">
					取消
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/public.js"></script>
</html>
