<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../css/public.css">
	<link rel="stylesheet" href="../css/login.css">
	<title>豆蜜</title>
</head>
<body>

<!-- 注册 -->
	<div class="fix-login" id="js-sign">
		<div class="login-con">
			<div class="login-head">
				<p class="sign">注册</p>
			</div>
			<div class="login-panel active">
				<form action="">
					<p>手机号</p>
					<input  type="tel" type="text" required>
					<p>验证码</p>
					<div class="yanzheng">
						<input type="number" maxlength="6" minlength="6" required >
						<span id="J_getCode">获取验证码</span>
						<span id="J_resetCode"><b id="J_second"></b>后重新发送</span>
					</div>
					<p>设置密码</p>
					<input  type="text" minlength="6" required>
					<div class="checkbox">
						<input type="checkbox">
						<a href="">我已阅读《豆蜜网站注册协议》</a>
					</div>
					<input type="submit" class="btn btn2"  id="js-btn">
				</form>
			</div>
			<p class="fixed-font js-login">立即登录</p>
		</div>
	</div>
	<!-- 登陆 -->
	<div class="fix-login" id="js-login">
		<div class="login-con">
			<div class="login-head">
				<img class="Logo" src="../images/Logo.png" alt="">
				<ul>
					<span class="active">账号登录</span><span>手机快速登录</span>
				</ul>
			</div>
			<div class="login-panel active">
				<form action="">
					<p>手机号</p>
					<input type="tel" maxlength="11" minlength="11" required />
					<p>密码</p>
					<input type="text" required="">
					<div class="error"><img src="../images/Shape.png" alt="">密码错误</div>
					<input type="submit" class="btn">
				</form>
			</div>
			<div class="login-panel">
				<form action="">
					<p>手机号</p>
					<input  type="tel" type="text" required>
					<p>验证码</p>
					<div class="yanzheng">
						<input type="number" maxlength="6" minlength="6" required >
						<span id="J_getCode">获取验证码</span>
						<span id="J_resetCode"><b id="J_second"></b>后重新发送</span>
					</div>
					<div class="error"><img src="../images/Shape.png" alt="">密码错误</div>
					<input type="submit" class="btn"  id="js-btn">
				</form>
			</div>
			<p class="fixed-font js-sign">还没有账号？立即注册</p>
		</div>
	</div>
	<!-- 注册成功 -->
	<div class="fix-login">
		<div class="success">
			<img class="su-1" src="../images/fa-close.png" alt="">
			<img src="../images/Line.png" alt="">
			<img class="su-3" src="../images/yes.png" alt="">
		</div>
	</div>
	<header class="header">
		<div class="container displayflex">
			<img class="doume-logo" src="../images/doume-logo.png" alt="豆蜜">
			<ul class="title">
				<li class="green-top">
					<a href="#">首页</a>
				</li>
				<li class=""><a href="#">娱乐超级播</a></li>
				<li class=""><a href="#">积分商城</a></li>
				<li class=""><a href="#">申请主播</a></li>
				<li class=""><a href="#">联系我们</a></li>
				<!-- <li class="back"></li> -->
			</ul>
			<img class="app-download" src="../images/app-download.png" alt="App下载">
			<span class="download">APP下载<img src="../images/img1.png" alt=""></span>
			<div class="login-2">
				<span class="js-login">登录</span>／<span class="js-sign">注册</span>
			</div>
			<div class="pro">
				<div class="head-img-warrp">
					<img class="head-img" src="../images/head-img.png" alt="头像">
					<div class="head-fixed">
						<a class="active" href=""><img class="imgf1" src="../images/12-2.png" alt=""><img class="imgf2" src="../images/13-2.png" alt=""></a>
						<a href=""><img class="imgf1" src="../images/12-1.png" alt=""><img class="imgf2" src="../images/13-2.png" alt=""></a>
						<a href=""><img class="imgf1" src="../images/12-3.png" alt=""><img class="imgf2" src="../images/13-2.png" alt=""></a>
						<a href=""><img class="imgf1" src="../images/12-4.png" alt=""><img class="imgf2" src="../images/13-2.png" alt=""></a>
						<a href=""><img class="imgf1" src="../images/12-5.png" alt=""><img class="imgf2" src="../images/13-2.png" alt=""></a>
						<a href=""><img class="imgf1" src="../images/12-6.png" alt=""><img class="imgf2" src="../images/13-2.png" alt=""></a>
					</div>
				</div>
				<div class="names">豆小蜜</div>
			</div>
		</div>
	</header>
	<section>
		<img class="banner" src="../images/banner.png" alt="">
	</section>
	<section>
		<div class="container mian-cont">
			<div class="displayflex between">
				<div class="zhibo-item">
					<img class="zhibo-img" src="../images/zhibo.png" alt="">
					<div class="zhibo-font">

					</div>
				</div>
				<div class="zhibo-item">
					<img class="zhibo-img" src="../images/zhibo.png" alt="">
					<div class="zhibo-font">

					</div>
				</div>
				<div class="zhibo-item">
					<img class="zhibo-img" src="../images/zhibo.png" alt="">
					<div class="zhibo-font">

					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="container displayflex between">
			<div class="font-item">
				<span>版权信息</span>
				<span>Copyright© 2016all right reserved</span>
				<span>豆蔓互娱 京ICP备16022898号-1</span>
			</div>
			<div class="font-item">
				<span>友情链接</span>
				<span><a href="#">财路通</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">豆蔓理财</a></span>
				<span><a href="#">豆娘儿</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">熊猫 TV</a></span>
			</div>
			<div class="font-item">
				<span>关于豆蔓</span>
				<span>联系我们</span>
				<span>加入我们</span>
			</div>
			<div class="font-item">
				<span>关注我们</span>
				<img src="" alt="">
				<img src="" alt="">
			</div>
		</div>
	</footer>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/public.js"></script>
<script src="../js/login.js"></script>
</html>
