<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../css/public.css">
	<link rel="stylesheet" href="../css/personal.css">
	<title>豆蜜</title>
</head>
<body>
	<header class="header">
		<div class="container displayflex">
			<img class="doume-logo" src="../images/doume-logo.png" alt="豆蜜">
			<ul class="title">
				<li class="green-top">
					<a href="#">首页</a>
				</li>
				<li class=""><a href="#">娱乐超级播</a></li>
				<li class=""><a href="#">积分商城</a></li>
				<li class=""><a href="#">申请主播</a></li>
				<li class=""><a href="#">联系我们</a></li>
				<!-- <li class="back"></li> -->
			</ul>
			<img class="app-download" src="../images/app-download.png" alt="App下载">
			<span class="download">APP下载</span>
			<div class="head-img-warrp">
				<img class="head-img" src="../images/head-img.png" alt="头像">
			</div>
			<span class="names">豆小蜜</span>
		</div>
	</header>
	<section>
		<div class="container personal-main displayflex">
			<div class="personal-left">
				<img class="personal-img" src="../images/personal.png" alt="">
				<p class="personal-name">豆小蜜<img src="../images/woman.png" alt=""></p>
				<p class="sign">添加一句话介绍你自己</p>
				<div class="displayflex label-warrp">
					<div class="label-items">
						旅游达人
					</div>
					<div class="label-items">
						旅游达人
					</div>
					<div class="label-items">
						旅游达人
					</div>
				</div>
				<div class="displayflex label-warrp">
					<div class="label-items">
						旅游达人
					</div>
					<div class="label-items">
						旅游达人
					</div>
					<div class="label-items">
						旅游达人
					</div>
				</div>
				<ul class="tab-warrp">
					<li><img class="icon-item" src="../images/one.png" alt="">我的积分</li>
					<li class="green-active"><img class="icon-item" src="../images/gtwo.png" alt="">历史痕迹</li>
					<li><img class="icon-item" src="../images/three.png" alt="">我的卡券</li>
					<li><img class="icon-item" src="../images/four.png" alt="">资料设置</li>
					<li><img class="icon-item" src="../images/five.png" alt="">修改密码</li>
				</ul>
			</div>
			<div class="personal-right">
				<div class="integral-warrp">
					历史痕迹
				</div>
				<!-- <div class="integral-cont">
					<div class="">
						<img class="integral-icon" src="../images/integral.png" alt="">
						现有积分
					</div>
				</div> -->
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="container displayflex between">
			<div class="font-item">
				<span>版权信息</span>
				<span>Copyright© 2016all right reserved</span>
				<span>豆蔓互娱 京ICP备16022898号-1</span>
			</div>
			<div class="font-item">
				<span>友情链接</span>
				<span><a href="#">财路通</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">豆蔓理财</a></span>
				<span><a href="#">豆娘儿</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">熊猫 TV</a></span>
			</div>
			<div class="font-item">
				<span>关于豆蔓</span>
				<span>联系我们</span>
				<span>加入我们</span>
			</div>
			<div class="font-item">
				<span>关注我们</span>
				<img src="" alt="">
				<img src="" alt="">
			</div>
		</div>
	</footer>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/public.js"></script>
</html>
